<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../index.css"/>
</head>
<body>

<h1 th:text="'List of all students: ' + ${stList.size()} + ' students'" class='text'></h1>

<div th:each="l: ${stList}" class='inline'>
    <div th:text="'Id: ' + ${l.id}" class='inline'></div>
    <div th:text="'Name: ' + ${l.fullName}" class='inline'></div>
    <div th:text="'Address: ' + ${l.address}" class='inline'></div>
    <div th:text="'Phone number: ' + ${l.phoneNumber}" class='inline'></div>
    <div th:text="'Course: ' + ${l.course}" class='inline'></div>
</div>
</body>
</html>