<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../index.css"/>
</head>
<body>

<h1 th:text="'List of all students: ' + ${stList.size()} + ' students'" class='text'></h1>
<h1 th:text="'Excellent student (avg grade > 90): ' + ${exSt} + ' students'" class='text'></h1>
<h1 th:text="'Bad student (avg grade < 60): ' + ${bdSt} + ' students'" class='text'></h1>

<div th:each="l: ${stList}" th:class="${l.getAvgGrade() < 60} ? 'bad' : (${l.getAvgGrade() >= 90} ? 'exc' : 'inline')">
    <div th:text="'Id: ' + ${l.id}" class='inline'></div>
    <div th:text="'Name: ' + ${l.fullName}" class='inline'></div>
    <div th:text="'Address: ' + ${l.address}" class='inline'></div>
    <div th:text="'Phone number: ' + ${l.phoneNumber}" class='inline'></div>
    <div th:text="'Course: ' + ${l.course}" class='inline'></div>
</div>
</body>
</html>